.footer {
    background-color: #F1F5FF;
    padding: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerCenter {
    width: 1400px;
}

.footerTop {
    display: flex;
    justify-content: space-between;
}

.footerTop_column {
    display: flex;
    flex-direction: column;
    gap: 58px;
}

.footerTop_columnBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerTop_columnBlock_title {
    font-weight: 500;
    font-style: Book;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 20px;
}

.footerTop_columnBlock_boldNum {
    font-weight: 600;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;
}

.footerTop_columnBlock_thinMail {
    font-weight: 400;
    font-style: Book;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #335075;
}

.footerTop_columnBlock_social {
    font-weight: 400;
    font-style: Book;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #000;
}

.footerTop_columnBlock_social_img1 {
    width: 35px;
}

.footerTop_columnBlock_social_img1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footerTop_columnBlock_social_img2 {
    width: 35px;
}

.footerTop_columnBlock_social_img2 img {
    height: 100%;
    object-fit: contain;
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
}

.footerBottom_line {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footerBottom_column {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8E8E8E;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid transparent;
    padding-bottom: 4px;
}

.footerBottom_column:hover {
    color: #525252;
    border-bottom: 1px solid #525252;
}

.footerBottom>a img {
    height: 30px;
}