.demoBlock {
    width: 100%;
    height: 834px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.demoBlockBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.demoBlockInfo {
    width: 1400px;
    height: 100%;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.demoBlockInfo_title {
    width: 670px;
    color: #fff;
    font-weight: 700;
    font-style: Bold;
    font-size: 42px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.demoBlockInfo_desc {
    width: 500px;
    color: #fff;
    font-weight: 400;
    font-style: Book;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.demoBlockInfo_btn {
    width: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 13px 32px;
    border-radius: 15px;

    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.fill {
    border: 1px solid transparent;
    background-color: #0057C3;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.fill:hover {
    background-color: #00306b;
    color: #fff;
}

.demoBlockBackMobile {
    display: none;
}


@media (min-width: 320px) and (max-width: 1250px) {
    .demoBlock {
        height: fit-content;
        flex-direction: column;
        background-color: #05080F;
        margin-top: 74px;
    }

    .demoBlockInfo {
        width: 100%;
        display: flex;
        padding: 50px 30px 0;
        gap: 30px;
    }

    .demoBlockBack {
        display: none;
    }

    .demoBlockBackMobile {
        display: flex;
        width: 100%;
    }

    .demoBlockInfo_title {
        width: 100%;
        font-size: 20px;
    }

    .demoBlockInfo_desc {
        width: 100%;
        font-size: 14px;
    }

    .demoBlockInfo_btn {
        font-size: 14px;
    }
}