.demoBlock {
    width: 100%;
    height: 834px;
    background: url("/demoBlockBack.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demoBlockInfo {
    width: 1400px;
    height: 100%;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.demoBlockInfo_title {
    width: 670px;
    color: #fff;
    font-weight: 700;
    font-style: Bold;
    font-size: 42px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.demoBlockInfo_desc {
    width: 500px;
    color: #fff;
    font-weight: 400;
    font-style: Book;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.demoBlockInfo_btn {
    width: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 13px 32px;
    border-radius: 15px;

    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.fill {
    border: 1px solid transparent;
    background-color: #0057C3;
    color: #fff;
}