.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    gap: 30px;
}

.top {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    width: 100px;
}

.headerLogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.headerLinks {
    display: flex;
    align-items: center;
    gap: 93px;
    list-style: none;
}

.headerLinks li a {
    font-weight: 600;
    font-style: Medium;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000;
}

.headerBtns {
    display: flex;
    gap: 15px;
}

.headerBtns a {
    padding: 13px 32px;
    border-radius: 15px;

    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.outline {
    border: 1px solid #0057C3;
    color: #0057C3;
}

.fill {
    border: 1px solid transparent;
    background-color: #0057C3;
    color: #fff;
}

/* ----------------------------------- */

.bottom {
    width: 1570px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.bottom li a {
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 8px;
    background-color: #F3F7FF;
    border-radius: 11px;
    height: 48px;
    transition: all 0.3s ease-in-out;
}

.long{
    width: 230px;
}

.middle{
    width: 173px;
}

.bottom li a:hover{
    background-color: #dde7fa;
}