.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    gap: 30px;
    overflow: hidden;
}

.top {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    width: 100px;
}

.headerLogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.headerLinks {
    display: flex;
    align-items: center;
    gap: 93px;
    list-style: none;
}

.headerLinks li a {
    font-weight: 600;
    font-style: Medium;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000;
}

.headerBtns {
    display: flex;
    gap: 15px;
}

.headerBtns a {
    padding: 13px 32px;
    border-radius: 15px;

    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.outline {
    border: 1px solid #0057C3;
    color: #0057C3;
    transition: all 0.3s ease-in-out;
}

.outline:hover {
    background-color: #0057C3;
    color: #fff;
}

.fill {
    border: 1px solid transparent;
    background-color: #0057C3;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.fill:hover {
    background-color: #00306b;
    color: #fff;
}


/* ----------------------------------- */

.bottom {
    width: 1570px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.bottom li a {
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 8px;
    background-color: #F3F7FF;
    border-radius: 11px;
    height: 48px;
    transition: all 0.3s ease-in-out;
}

.long {
    width: 230px;
}

.middle {
    width: 173px;
}

.bottom li a:hover {
    background-color: #dde7fa;
}

.mobileHeader {
    display: none;
}

.headerMenu {
    display: none;
}

@media (min-width: 320px) and (max-width: 1250px) {

    .headerLinks,
    .headerBtns {
        display: none;
    }

    .header {
        padding: 0;
        box-shadow: 0px 4px 20.7px 0px #00000026;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        background-color: #fff;
    }

    .top {
        width: 100%;
        padding: 20px;
    }

    .headerLogo {
        width: 67px;
    }

    .mobileHeader {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        flex-direction: column;
        top: 0;
        left: 0;
    }

    .bottom {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        gap: 10px;
        padding: 23px;
    }

    .bottom li {
        width: calc(50% - 5px);
    }

    .bottom .fullWidth {
        width: 100%;
    }

    .dnm {
        display: none;
    }

    .mobileHeader_line {
        width: 100%;
        padding: 12px 40px;
        border-bottom: 1px solid #9E9E9E70;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .mobileHeader_line a {
        font-weight: 600;
        font-style: Medium;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #000;
    }

    .mobileHeader_line_outline {
        padding: 18px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobileHeader_line_outline a {
        color: #0057C3;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0%;
        vertical-align: middle;
        border: 1px solid #0057C3;
        border-radius: 15px;
        padding: 10px 30px;
    }

    .headerMenu {
        display: flex;
    }
}

@media (min-width: 1251px) and (max-width: 1600px) {
    .top{
        width: 100%;
        padding: 0 50px;
    }

    .bottom{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 50px;
    }

    .bottom li a{
        width: fit-content;
    }
}