* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

:root {
    --blockWidth: 1300px;
}

body {
    background-color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 80px;
    overflow: hidden;
}

.topArrow {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.topArrow img {
    width: 100%;
    height: 100%;
}


@media (min-width: 320px) and (max-width: 1250px) {
    main {
        gap: 0px;
    }

    .topArrow {
        bottom: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
    }
}